h1 {
  color: #0052A4;
  border-bottom: 1px solid #0052A4;
  margin-top: 50px;
  padding-top: 25px;
}
h2 {
  color: #0052A4;
  border-bottom: 1px solid #0052A4;
  margin-top: 35px;
  padding-top: 20px;
}
h3 {
  color: #0052A4;
  margin-top: 20px;
  padding-top: 15px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #006;
}

css selector {
  font-size: 15px;
}